body {
  width: 100%;
  height: auto;
  margin: 0;

}

h1, h2 {
  text-align: center;

}

#first-paragraph {
  text-align: center;
}

#durian-image {
  display: block;
  max-width: 45%;
  height: auto;
  margin: 25px auto;
 }

p {
  text-align: justify;
  margin: 0 2rem;
}

#recipe-image {
  display: block;
  max-width: 40%;
  height: auto;
  margin: auto;
}