* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: azure;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  background-color: rgb(239, 234, 228);
  height: 200px;
  width: 200px;
  flex-direction: row;
}

.flex-items {
  flex-direction: row;
}



ul>li {
  list-style: none;
}